*.egg-info
.mypy_cache
build
dist
env
*.debhelper
.pybuild
debian/.debhelper
debian/files
debian/tmp
debian/voidpop
debian/voidpop.substvars
debian/debhelper-build-stamp
.pytest_cache
.ruff_cache
__pycache__
